.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom:15vh;
    position: relative;
}

.main .nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding :20px;
    color:light greenyellow
}

.main .nav img{
    width:40px;
    border-radius: 50%;
    cursor:pointer;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin:50px 0px;
    font-size:56px;
    color:rgb(229, 232, 234);
    font-weight: 500;
    padding : 20px;
}

.main .greet span{
    background:-webkit-linear-gradient(16deg, #6cc1ff, #fc4257);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap:15px;
    padding:20px;
}

.main .cards .card{
    background-color: hsl(201, 89%, 96%);
    height: 200px;
    padding:15px;
    border-radius: 15px;
    position: relative;
    cursor:pointer;
}

.main .cards .card img{
    width:35px;
    padding:5px;
    background-color: white;
    position: absolute;
    border-radius: 20px;
    bottom:10px;
    right:10px;
}

.main .cards .card p{
    color:#585858;
    font-size: 17px;
   
}

.main .cards .card:hover{
    background-color: hsl(197, 33%, 96%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.main-bottom{
    position:absolute;
    bottom:0;
    width:100%;
    max-width: 900px;
    margin:auto;
    padding : 0px 20px;
}

.search-box{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    padding:10px 20px;
    background-color: #f0f7fc;
    border-radius: 50px;
}

.search-box img{
    width:24px;
    cursor: pointer;
}

.search-box input{
    flex:1;
    border:none;
    outline:none;
    padding : 8px;
    background-color: transparent;
    font-size: 16px;
}

.search-box div{
    display:flex;
    align-items: center;
    gap:10px;
}

.main .info{
    font-size:13px;
    margin:15px auto;
    text-align: center;
    font-weight: 300;
}