.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom:15vh;
    position: relative;
}

.main .nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding :20px;
    color:light greenyellow
}

.main .nav img{
    width:40px;
    border-radius: 50%;
    cursor:pointer;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin:50px 0px;
    font-size:56px;
    color:rgb(229, 232, 234);
    font-weight: 500;
    padding : 20px;
}

.main .greet span{
    background:-webkit-linear-gradient(16deg, #6cc1ff, #fc4257);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}