*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Desktop layout */
@media (min-width: 768px) {
  #root {
    flex-direction: row;
  }
}